@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

body {
  background: #17191C;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wraper {
  height: 100%;
  width: 100%;
}

.main-page-wrapper {
  background: url("./img/content/hero.jpg")
    /* left 5px */
    top no-repeat, url("./img/content/bottom-pic.jpg") center bottom 306px no-repeat;
}

.hero {
  margin-bottom: 233px;
  padding-top: 21px;
}

.container {
  margin: 0 auto;
  /* max- */width: 1140px;
 /*  width: 100%; */
}


.header {
  min-height: 55px;
  /* margin-top: 21px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  margin-bottom: 154px;
}

.logo {
  display: block;
  /* position: absolute; */
  /* top: 19px; */
  width: 198px;
  height: 46px;
}

.header__menu {
  margin-top: 9px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
  color: #FF3D00;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

/* .menu__link:hover {
  color: #FF3D00;
} */

.contacts {
  /* position: absolute;
  top: 50%; */
  /* transform: translateY(0%); */
  /* right: 0; */
  font-style: normal;
  text-align: right;
}

.header__contacts {
  margin-top: 18px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  /* margin-bottom: -6px; */
  display: block;
}

.header__phone {
  line-height: .8;
}

.contacts__dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown__link {
  font-size: 13px;
  color: #FF3D00;
  /* text-decoration: underline; */
  line-height: 1.54;
}

.contacts__dropdown:hover .dropdown__menu {
  display: block;
  left: 29px;
  /* opacity: 1; */
  transition: opacity .3s;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.dropdown__menu {
  position: absolute;
  background: #fff;
  padding: 12px 19px 15px;
  border-radius: 5px;
  top: 100%;
  margin-top: 6px;
  left:/*  29px; */ -9999px;
  opacity: 0;
  /* display: none; */
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 17px;
  left: 0;
  right: 0;
  top: -16px;
  position: absolute;
}

.dropdown__menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 14px solid #fff;
  right: 37px;
  top: -9px;
}

.dropdown__item {
  font-size: 13px;
  color: #1E1F20;
  font-weight: 600;
  line-height: 1.62;
}

.dropdown__item--bold {
  font-weight: bold;
}

.hero-services {
  background: url("./img/content/top-line.jpg") center center no-repeat;
}

.hero-reviews {
  background: url("./img/content/top-line.jpg") center center no-repeat;
}

.hero__text-section {
  text-align: center;
  width: 785px;
  margin: auto;
  margin-bottom: 233px;
}

.title-inner {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.36;
  margin-bottom: 17.5px;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 43.5px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 35px;
  /* background: #FF5500; */
  /* border: 2px solid #FF5500; */
  padding: 18px 53px;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  line-height: 1.36;
  cursor: pointer;
}

.btn--color--white:hover {
  background: #FF3D00;
  color: #fff;
  /* box-shadow: 0 0 25px 0; */
}

.btn--color--white {
  background: #fff;
  border: 2px solid #FF5500;
  color: #FF5500;
  /* margin-top: auto; */
  width: 14em;
}

.btn--color--grey {
  background: #8E8E8E;
  border: 2px solid #8E8E8E;
  color: #fff;
  width: 14em;
}

.btn--color--grey:hover {
  background: #2B2B2B;
  border: 2px solid #2B2B2B;
}

.btn--color--red {
  background: #FF5500;
  border: 2px solid  #FF5500;
  color: #fff;
  width: 12em;
}

.btn--color--red:hover {
  background: #FF3D00;
  border: 2px solid  #FF3D00;
}

.section {
  margin-bottom: 180px;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-left: -27px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 476px;
  background: #FFFFFF;
  border-radius: 5px;
  /* display: inline-block; */
  margin-left: 27px;
  width: calc(100% - 27px);
  width: 362px;
  /* vertical-align: top; */
  padding: 33px 16px 28px;
  border: 5px solid transparent;
}

.offers__item:hover {
  border: 5px solid #CCCCCC;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 90px;
  margin-bottom: 17px;
  /* position: relative; */
}

.offers__header-img {
  /* position: absolute; */
  left: 29px;
  top: 36px;
}

.offers__content {
  /* padding: 0px 22px 30px; */
  color: #000;
}

.offers__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 13px;
}

.offers__conditions {
  margin-bottom: 22px;
}

.offers__conditions-cell {
  display: inline-block;
  vertical-align: top;
  width: 123px;
  margin-right: 56px;
  /* margin-bottom: 29px; */
}

.offers__conditions-cell:last-child {
  margin-right: 0;
}

.offers__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.57;
}

.section-news {
  margin-bottom: 146px;
}

.section-news__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 51px;
  line-height: 1.36;
}

.news {
  margin-bottom: 53.5px;
  display: flex;
}

.news__item {
  width: 557px;
  height: 394px;
  overflow: hidden;
  /* display: inline-block; */
  vertical-align: top;
  position: relative;
  margin-right: 25px;
  /* padding: 0 30px 15px; */
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17px 32px;
  min-height: 135px;
}

.news__date {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 13.5px;
  display: inline-block;
}

.news__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 13px;
}

.news__desc {
  line-height: 1.31;
}

.pager {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pager--color--light {
  color: #000000;
}

.pager__display,
.pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 34px;
}

.pager__item {
  display: inline-block;
 /*  vertical-align: middle; */
  text-align: center;
  margin-right: -4px;
}

.pager__item--active .pager__link {
  background: #FF5500;
  color: #ffffff;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 700;
  text-decoration: none;
  line-height: 32px;
}

.section-about {
  margin-bottom: 53px;
}

.about {
  display: flex;
}

.about:before,
.about__desc {
  display: inline-block;
  vertical-align: top;
}

.about:before {
  content: "";
  flex-shrink: 0;
  width: 490px;
  height: 505px;
  background: url("./img/content/cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
  background: #FFFFFF;
  color: #000000;
  padding: 70px 81px 66px;
  width: 785px;
  margin-left: -137px;
  margin-top: 97px;
  border-radius: 5px;
  min-height: 455px;
}

.about__title {
  font-weight: 800;
  font-size: 36px;
  /* color: #000000; */
  margin-bottom: 39px;
  line-height: 1.36;
}

.about__desc-text {
  /*  color: #000; */
  margin-bottom: 43px;
  line-height: 1.69;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  margin-left: 0px;
  padding: 15px 38px;
  width: 12em;
}

.main-footer {
  padding-bottom: 10px;
  /* margin-top: 45px; */
}

/* .main-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 50px;
} */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 40px;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 50px; */
}

.main-footer__inner {
  padding-top: 28px;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 50px;
}

/* .footer-container__content {
  border-top: 4px solid #FFFFFF;
} */

/* .footer {
  position: relative;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 57px;
} */

/* .footer .menu {
  transform: translate(29px, 5px);
} */

.footer__menu {
  margin-left: 60px;
  /* margin-right: 10px; */
}

.socials {
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  /* right: 270px; */
  /* transform: translate(33px, 2px); */
  margin-left: 42px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("./img/content/t.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("./img/content/t.png");
  filter: invert(0.5); 
}

.socials__item--icon--vk .socials__link {
  background-image: url("./img/content/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("./img/content/vk.png");
  filter: invert(0.5); 
}

.socials__item--icon--fb .socials__link {
  background-image: url("./img/content/f.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("./img/content/f2.png");
}

.socials__item--icon--insta .socials__link {
  background-image: url("./img/content/in.png");
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url("./img/content/in.png");
  filter: invert(0.5); 
}

.footer__contacts {
  /* margin-bottom: -25px; */
  margin-top: 10px;
}

.footer__phone {
  line-height: 1.6;
}

.hero-services {
  padding-top: 23px;
}

.container-services {
  width: 1141px;
}

.services-header {
  margin-bottom: 113px;
}

.hero-services__content {
  padding-bottom: 27.5px;
}

.hero-services__title-inner {
  margin-bottom: 83.5px;
}

.crumbs {
  display: flex;
}

.crumbs__item {
  margin-right: 1px;
}

.crumbs__item:last-child {
  margin-right: 0;
}

.crumbs__item:after {
  content: "/";
  margin-left: 2px;
  margin-right: 2px;
}

.crumbs__item:last-child:after {
  display: none;
}

.crumbs__link {
  font-size: 14px;
  text-decoration: underline;
}

.page-content {
  background: #FFFFFF;
  padding-top: 90px;
}

.services {
  /* background: #E5E5E5; */
  margin-bottom: 84.5px;
}

/* .container-services {
  width: 1168px;
} */

.hero-services__title-services {
  margin-bottom: 83px;
}

.services-list {
  margin-bottom: 64.5px;
}

.services-block {
  display: flex;
}

.services__item {
  /* padding-bottom: 49px; */
  margin-bottom: 49px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services-block__image {
  width: 460px;
  height: 333px;
  overflow: hidden;
  margin-right: 59px;
}

.services__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.services-block__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 11px;
}

.services-block__title {
  /* width: 275px; */
  line-height: 1.36;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 30.5px;
}

.services__text {
  line-height: 1.7;
  /* margin-bottom: 47px; */
  color: #303030;
  margin-bottom: 19px;
}

.pager-services {
  /*  margin-bottom: 91.5px; */
}

.partners {
  background: #F4F5F5;
}

.services-partners {
  padding-top: 88px;
  padding-bottom: 45px;
}

.partners__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
  margin-bottom: 75px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.partners__item {
  flex-basis: 24%;
  margin-bottom: 59px;
  text-align: center;
  filter: grayscale(1);
}

.partners__item:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n) {
  text-align: right;
}

.partners__item:nth-child(4n+1) {
  text-align: left;
}

.services__footer {
  padding-top: 44px;
  padding-bottom: 42px;
}

.services-footer {
  /* padding-top: 44px;
  margin-bottom: 42px; */
}

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("./img/content/bottom-pic.jpg") center bottom / cover no-repeat;
}

.welcome--video {
 /*  opacity: .2; */
  /* background: url("./img/content/rec.png") center center no-repeat; */
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central__logo {
  width: 538px;
  height: 147px;
  margin-bottom: 40px;
  /* margin-top: 378px; */
}

.welcome__btn {
  /* margin-bottom: 342px; */
}

.central--video {
  opacity: 0;
  animation: logorotation .9s;
  animation-fill-mode: forwards;
}

@keyframes logorotation {
  from {
    transform: scale(0.1) rotate(30deg);
  }

  /* 50% {
    transform: rotate(-10%);
  } */

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* .container-welcome {
  width: 1128px;
} */


/* .container-welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

/* .welcome__content {
  background: url("./img/content/rec.jpg");
  height: 643px;
} */

.hero-services__reviews {
  padding-top: 21px;
}

.services-reviews {
  margin-bottom: 0;
}

.page-reviews {
  background: white;
  padding-bottom: 92px;
  /* margin-bottom: 92px; */
}

.container-reviews {
  width: 1141px;
}

.reviews-header {
  margin-bottom: 110px;
}

.hero-services__title-reviews {
  margin-bottom: 81px;
}

.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 59px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 50px 30px 33px;
  /* background: #F4F5F5; */
}

.reviews__item {
  margin-bottom: 17px;
  /* background: #F4F5F5; */
  background: #F4F5F5;
}

.reviews__item:nth-child(2n) {
  margin-bottom: 0;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
  color: #2E77A4;
  margin-bottom: 13px;
}

.review__user:after {
  content: url("./img/icons/vk-blue\ 1.png");
  height: 30px;
  margin-left: 8px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-weight: normal;
  font-size: 13px; 
  line-height: 1.39;
  color: #303030; 
  padding: 10px 25px;
  border-radius: 35px;
  background: #E7E7E7;
}

.tag--bg--activ {
  background: #F2D4C9;
}

.review__title {
  font-weight: bold;
  font-size: 30px;
  color: #202020;
  margin-bottom: 13px;
  line-height: 1.4;
}

.review__content-text {
  color: #818181;
  line-height: 1.69;
  margin-bottom: 48.5px;
}

.review__date {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.93;
  color: #1A1B1E;
}

.separator {
  min-height: 363px;
  background: #373737 url("./img/content/reviews/party.png") right 196px bottom no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .separator__bg {
  background:  url("./img/content/reviews/party.jpg") right 196px bottom no-repeat;
  height: 363px;
} */

.separator__content {
  max-width: 49%;
}

.separator__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.35;
  color: #FFFFFF;
}

.separator-red {
  color: red;
}

.inner-section {
  min-height: 799px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  color: #202020;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.36;
  text-transform: uppercase;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
  color: #666666;
  font-size: 18px;
  line-height: 1.39;
}

.form__input:first-child {
  color: #1A1B1E;
  border: 1px solid #CCCCCC;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
  color: #666666;
  font-size: 18px;
  line-height: 1.39;
}

.form__controls {
  display: flex;
  margin-bottom: 33px;
}

.form__controls-title {
  font-size: 18px;
  line-height: 1.39;
  color: #1A1B1E;
  width: 35%;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.form__input::placeholder {
  color: #666666;
  color: #666666;
  font-size: 18px;
  line-height: 1.39;
}

.controls__item {
  margin-right: 13px;
  margin-bottom: 10px;
}

.controls__elem {
  cursor: pointer;
}

.controls__tag {
  padding: 9px 16px;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #F2D4C9;
}

.controls__checkbox {
  display: none;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 13px;
}

.form__btn:last-child {
  margin-right: 0;
}

.reviews__footer {
  padding-top: 42px;
  padding-bottom: 45px;
}

.reviews-footer {
  /* padding-top: 42px;
  margin-bottom: 45px; */
}


