.main-footer {
  padding-bottom: 10px;
  /* margin-top: 45px; */
}

/* .main-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 50px;
} */

.main-footer__inner {
  padding-top: 35px;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 50px;
}
