.offers {
  display: flex;
  justify-content: space-between;
  margin-left: -27px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 476px;
  background: #FFFFFF;
  border-radius: 5px;
  /* display: inline-block; */
  margin-left: 27px;
  width: calc(100% - 27px);
  width: 362px;
  /* vertical-align: top; */
  padding: 33px 16px 48px;
  border: 5px solid transparent;
}

.offers__item:hover {
  border: 5px solid #CCCCCC;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 90px;
  margin-bottom: 17px;
  margin-left: 8px;
  /* position: relative; */
}

.offers__header-img {
  /* position: absolute; */
  left: 29px;
  top: 36px;
}


.offers__content {
  /* padding: 0px 22px 30px; */
  color: #000;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.offers__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 13px;
  line-height: 1.38;
}

.offers__conditions {
  margin-bottom: 22px;
}


.offers__conditions-cell {
  display: inline-block;
  vertical-align: top;
  width: 123px;
  margin-right: 56px;
  /* margin-bottom: 29px; */
}

.offers__conditions-cell:last-child {
  margin-right: 0;
}

.offers__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.57;
}