.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 73px;
}

.reviews__item {
  margin-bottom: 17px;
  /* background: #F4F5F5; */
  background: #F4F5F5;
}

.reviews__item:nth-child(2n) {
  margin-bottom: 0;
}

.reviews__footer {
  padding-top: 31px;
  padding-bottom: 45px;
}
